@font-face {
  font-family: "Let's go Digital Regular";
  src: url("lib/LetsGoDigitalRegular.ttf");
}
.page_title {
  font-family: "Let's go Digital Regular";
  font-size: 24pt;
}
.editors {
  display: table-row;
  visibility: hidden; /*Hide while loading.*/
}
.asm_editor {
  width: 40em;
  height: 550px;
  display: table-cell;
}
.hack_editor {
  width: 15em;
  height: 550px;
  display: table-cell;
}
/* Hacks to make the vertical scrollbar go away */
.hack_editor .ace_scrollbar-v {
  width: 0px;
  display: none;
}
.hack_editor .ace_scroller {
  right: 0px !important;
}
.symboltable {
  /* Background and font colors copied from Monokai gutter. Seemed right. */
  background-color: rgb(47, 49, 41);
  color: rgb(143, 144, 138);
  border-collapse: collapse;
}
table.symboltable {
  width: 200px;
  margin-left: 5px;
}
.symboltable td {
  width: 50%;
}
.symboltable th {
  color: white;
  background-color: rgb(39, 39, 39);
  /*border-left-color: rgb(39, 39, 39);
  border-right-color: rgb(39, 39, 39);*/
}